{% extends "base.html" %}
{% load wagtailcore_tags nav_tags %}

{% block body_class %}page-home{% endblock %}

{% block page_theme %}
<style>
  :root {
    --body-bg:   #faf8f4;
    --body-text: #1a1a1a;
  }
</style>
{% endblock %}

{% block content %}
    <h1 class="page-title{% if page.title_css_classes %} {{ page.title_css_classes }}{% endif %}">
        {% if page.rich_title %}{{ page.rich_title|richtext_inline }}{% else %}{{ page.title }}{% endif %}
    </h1>

    {% if page.intro %}
        <div class="intro">{{ page.intro|richtext }}</div>
    {% endif %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock %}