{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}page-home{% endblock %}

{% block page_theme %}
<style>
  :root {
    --body-bg:   #faf8f4;
    --body-text: #1a1a1a;
  }
</style>
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% if page.intro %}
        <p>{{ page.intro }}</p>
    {% endif %}

    {% for block in page.body %}
        <div class="block-{{ block.block_type }}">
            {% include_block block %}
        </div>
    {% endfor %}
{% endblock %}